extends layout

block content
  div.container
    div.dropdown
      button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Countries
        span.caret
      ul.dropdown-menu.scrollable-menu
    svg.chart