extends layout

block content
  div.container
    div.dropdown.dropdown-button
      button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown") Countries
        span.caret
      ul.dropdown-menu.scrollable-menu
    svg.chart
    img#splash(src="/images/loading.svg")