doctype html
html
  head
    title Obesity Data
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src='/lib/d3/d3.js')
  body
    block content
    script(src='/javascripts/chart.js')
    script(src='/javascripts/site.js')
