body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Bootstrap menu */
.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

/* D3.js chart */
.chart_heading{
  font: 2em sans-serif;
  stroke: steelblue;
  text-anchor: middle;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 1em sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
