body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Bootstrap menu */
.dropdown-button {
  display: none;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

/* D3.js chart */
.chart_heading{
  font: 2em sans-serif;
  fill: black;
  stroke: black;
  text-anchor: middle;
}

.bar {
  fill: #7dff49;
}

.axis text {
  font: .8em sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: geometricPrecision;
}

.x.axis path {
  display: block;
}